---
import Layout from '../layouts/Layout.astro';
import Example from '../components/Example.md'
---

<Layout title="Workshop League of Tech">
	<main>
		<h1>Workshop League of Techs</h1>
		<p class="text-white border-emerald-700 font-bold my-3">
			Markdown:
		</p>
		<section class="bg-zinc-700 py-3 px-3">
			<Example />
		</section>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
